.bg-green {
	background: #17aa1c;
}

.bg-blue {
	background: #1376D7;
}

.bg-gray {
	background: #333;
}

.bg-white {
	background: #fff;
}

.text-white {
	color: #fff;
}

.text-green {
	color: #17aa1c;
}