.pad {
	padding-top: 60px;
	padding-bottom: 60px;
}
.pad-md {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad-md-top {
	padding-top: 30px;
}

.pad-sm-top {
	padding-top: 15px;
}

.pad-sm {
	padding-top: 15px;
	padding-bottom: 15px;
}

.no-margin {
	margin: 0;
}