.popover {
	min-width: 400px;
	max-width: 400px;
}

.course-item-container {
	position: relative;
	:hover {
		cursor: pointer;
	}

	width: 220px;
	text-wrap: none;
	background: #fff;

	h3 {
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: normal;
	    font-weight: 600;
	    min-height: 42px;
	    margin: 15px 0 0 0;
	    font-size: 15px;
	    color: #333;
	}

	.course-item-bottom {
		padding:15px;
	}

	.course-item-price {
		color: #17aa1c;
		font-size: 18px;
	}
}

.course-popover:first-child {
	display: block!important;
}

.course-item-container:hover {
	.course-popover {
		display: block;
	}
}

.course-popover {
	position: absolute;
	top: 20px;
	background: #fff;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 22px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.progress {
    width: 100%;
    background-color: grey;
}
.bar {
    height: 30px;
    background-color: green;
}