nav {
	border-top: 4px solid #17aa1c;
	background: #fff;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}

	.nav-top {
		border-bottom: 1px solid #ddd;
	}

	.logo {
		padding: 10px 18px 8px 15px;
		float: left;
		border-right: 1px solid #ddd;
		height: 100%;
	}

	.select-option {
		border-right: 1px solid #ddd;
		float: left;
		height: 48px;
		padding: 15px 22px 15px 22px;
		font-weight: bold;

		:hover {
			cursor: pointer;
		}
	}
	
	#category-select {
		position: relative;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
	#category-select:hover .categories {
		display: block;
		
	}

	.categories {
		font-weight: lighter;
		position: absolute;
		top: 48px;
		left: 0;
		background: #fff;
		z-index: 999;
		display: none;

		li {
			padding: 8px 0 8px 20px;
			min-width: 250px;
		}
	}
	
	.skin-0 {
    		background: #02A1A5;
    }

    .skin-1 {
    		background: #02A1A5;
    }

	.category-selection {
		color: #fff;
		position: absolute;
    	top: 0;
    	left: 250px;

    	a {
    		color: inherit;
    	}
	}
	
	.categories > ul > li ul {
    	display: none;   
	}

	.categories > ul > li:hover ul {
    	display: block;
	}

	.nav-search {
		float: left;
		width: 52%;
		position: relative;

		form {
			width: 100%;
			border-right: 1px solid #ddd;
		}

		input {
			padding: 12px 13px;
			padding-left: 66px;
			font-size: 15px;
			margin: 0px;
			width: 100%;
			border: none;
		}

		input:focus {
			outline: 0;
			box-shadow: 0 0 1px 1px #17aa1c;
		}
	}

	.nav-btn {
		background: #17aa1c;
		    color: #fff;
		    padding: 10px;
		    border-radius: 2px;
		    top: 6px;
		    animation: none;
		    border: none;
		    font-size: 16px;
		    left: 10px;
		    position: absolute;
	}

}

.sub-container {
	background: #fff;
	margin-bottom: 40px;
	.sub-nav {
			background: inherit;
			padding: 10px 10px;
			li {
				display: inline-block;
				padding-right: 45px;
			}

			li:last-child {
				padding-right: 0;
			}
	}
}

